<div class="container-fluid" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <center style="font-size: 2rem;">About Page</center>
      <div class="container text-center">
        <div class="row my-3">
          <div class="col my-2" style="text-align: left; ">
            I am full stack developer tech professional.I have skilled in both
            front-end and back-end development. I am proficient in a range of
            programming languages and frameworks, and can build fully functional
            web applications from scratch.Highly-motivated employee with desire
            to take on new challenges. I am a qualified diligent and dedicated
            professional Frontend developer with 6 months of experience in
            design web pages and hosting. Strong creative and analytical skills.
            Team player with an eye for detail.
          </div>
          <div
            class="col my-auto"
            style="text-align: left; font-size:1rem; font-weight:bolder;"
          >
            <p>DOB <span>:</span>08/08/2000</p>
            <p>Email id <span>:</span>Utebapawaskar@gmail.com</p>
            <p>Linkedin
              <span>:</span><a
                href="www.linkedin.com/in/utebpawaskar2000""
              >utebpawaskar2000</a></p>
            <p>address<span>:</span>India,Mumbai.</p>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>