<div class="container-fluid" id="educationid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <center style="font-size: 2rem;">Educatiion & Skills</center>
      <div class="container text-center">
        <div class="row">
          <div class="col my-2">
            <div class="container d-flex justify-content-center">
              <img src="\image\html.jpg" alt="" class="lang-img" />
              <h4>Html</h4>
            </div>

            <input
              type="range"
              value="70"
              min="0"
              max="100"
              oninput="rangevalue.value=value"
            />
          </div>
          <div class="col my-2">
            <div class="container d-flex justify-content-center">
              <img src="\image\css.jpg" alt="" class="lang-img" />
              <h4>Css</h4>
            </div>
            <input
              type="range"
              value="70"
              min="0"
              max="100"
              oninput="rangevalue.value=value"
            />
          </div>
          <div class="col my-2">
            <div class="container d-flex justify-content-center">
              <img src="\image\Bootstrap.jpg" alt="" class="lang-img" />
              <h4>Bootstrap</h4>
            </div>
            <input
              type="range"
              value="70"
              min="0"
              max="100"
              oninput="rangevalue.value=value"
            />
          </div>
        </div>
      </div>

      <div class="container text-center my-2">
        <div class="row">
          <div class="col my-2">
            <div class="container d-flex justify-content-center">
              <img src="\image\js.jpg" alt="" class="lang-img" />
              <h4>Javascript</h4>
            </div>
            <input
              type="range"
              value="70"
              min="0"
              max="100"
              oninput="rangevalue.value=value"
            />
          </div>
          <div class="col my-2">
            <div class="container d-flex justify-content-center">
              <img src="\image\nodejs.jpg" alt="" class="lang-img" />
              <h4>Node js</h4>
            </div>
            <input
              type="range"
              value="70"
              min="0"
              max="100"
              oninput="rangevalue.value=value"
            />
          </div>
          <div class="col my-2">
            <div class="container d-flex justify-content-center">
              <img src="\image\mongodb.jpg" alt="" class="lang-img" />
              <h4>Mongodb</h4>
            </div>
            <input
              type="range"
              value="70"
              min="0"
              max="100"
              oninput="rangevalue.value=value"
            />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>